@charset "UTF-8";

#conteudo {
    margin-left: 30px;
    margin-right: 30px;
    display: block;

}

#conteudo h1 {
    margin-top: 5px;
    text-align: center;
}

#descricao {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -30px;
    margin-left: 30px;
}

#descricao p {
    text-align: left;
}

#foto {
    display: inline-block;
}

#redes {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 2px solid black;
}

#redes h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#redes ul {}

#redes li {
    list-style-type: none;
    display: inline-block;
    margin: 7px;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

#redes li a {
    text-decoration: none;
    color: black;
}
